@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
} 

.board {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 5px 5px 5px;
    background-color: transparent;
    text-align: center;
 }

.board h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: thin;
    letter-spacing: 5px;
}

.board h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

button {
    padding: 10px;
    font-size: 14px;
    border: none;
    text-transform: lowercase;
    font-family: 'Roboto';
    letter-spacing: 3px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.create-column {
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.create-column:hover {
    border-bottom: 1px solid #000;
    outline: 0;

}

.column-container {
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; 
}

.column {
    min-width: 300px;
    width: 32%;
    float: left;
    min-height: 200px;
    height: 100%;
    margin: 5px;
    border: solid 1px #ccc;
}

.ui-sortable {
    min-height: 80px; 
}
  
ul.card-list.ui-sortable {
    min-height: 50px;
    padding: 0; 
}

.card {
    list-style-type: none;
    margin: 0 10px 10px 10px;
    min-height: 80px;
    padding: 0 10px 10px 10px;
    background-color:#fff;
    border: solid 1px #ccc;
    border-top: 30px solid rgb(125, 168, 143);
}


.card-placeholder {
    margin: 0 10px 10px 10px;
    min-height: 80px;
    padding: 0 10px 10px 10px;
}

.card-description {
    text-align: left;
    line-height: 1.4em;
}

.column-add-card  {
    color: rgb(118, 167, 118);
    cursor: pointer;
    width: 100%;
    text-transform: lowercase;
    text-align: left;
}


.btn-delete {
    color: red;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
    text-align: right;
    width: 22%;
    font-family: 'Roboto';
    border-bottom: solid 1px #fff;
    float: right;
    margin-right: 10px;
}

.btn-delete:hover {
    border-bottom: 1px solid red;
}


li > .btn-delete-card {
    font-family: 'Roboto';
    color: red;
    margin: 5px;
    border: none;
    float: right; 
    cursor: pointer;
    border-bottom: solid 1px #fff;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 3px;
}

li > .btn-delete-card:hover {
    color: red;
    border-bottom: solid 1px red;
}

