@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Lora', serif;
} 

.board {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 5px 5px 5px;
    background-color: transparent;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
 }

.board h1 {
    text-align: center;
    background-color: #977678;
    box-shadow: 5px 5px 10px black;
    text-transform: uppercase;
}

.board h2 {
    background-color: #977678;
    box-shadow: 5px 5px 10px black;
    text-transform: uppercase;
}

button {
    padding: 10px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lora', serif;
}

.create-column {
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #977678;
    border-top: solid 2px #977678;
    cursor: pointer;
}

.create-column:hover {
    color: #fff;
    background-color: #977678;
}



.column-container {
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; 
}

.column {
    min-width: 300px;
    width: 32%;
    float: left;
    min-height: 553px;
    margin: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 10px black;
    background-color: #96CCD3;
}


.ui-sortable {
    min-height: 80px; 
}
  
ul.card-list.ui-sortable {
    min-height: 50px;
    padding: 0; 
}

.card {
    list-style-type: none;
    margin: 0 10px 10px 10px;
    border-top: 20px solid #977678;
    min-height: 80px;
    padding: 0 10px 10px 10px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(50, 158, 171, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card-placeholder {
    background-color: #977678;
    margin: 0 10px 10px 10px;
    min-height: 80px;
    padding: 0 10px 10px 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.column-add-card  {
    background-color: #977678;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    width: 100%;
}

.column-add-card:hover {
    background-color: #96CCD3;
}

.btn-delete {
    color: #977678;
    font-size: 14px;
    background-color: #FAFAFA;
    cursor: pointer;
    text-align: right;
    width: 100%;
}

.btn-delete:hover {
    color: red;
    text-shadow: 1px 1px red;
}


li > .btn-delete-card {
    color: black;
    background-color:transparent;
    margin: 10px;
    border: none;
    border-left: solid 1px black;
    float: right; 
}

li > .btn-delete-card:hover {
    border: solid 1px red; 
    color: red;
    box-shadow:inset 0px 0px 1px 2px red;
}

